#poststuff .stng_admin_wrap h2 {
	margin:10px 0 0;
}

.stng_admin_wrap input[type="text"] {
	font-size: 1.5em;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	line-height: 29px;
	padding-left: 0.3em;
	width: 100%;
}

.stng_admin_wrap .wp-editor-area {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}



/*
	CPT Icon Styles
*/

/* Admin Menu - 16px */
#menu-posts-staff-member .wp-menu-image {
	background: url('../_images/staff-list-icon.png') no-repeat 5px 5px !important;
    background: url('../_images/staff-list-icon.svg') no-repeat 5px 5px !important;
    background-size: 70% !important;
    opacity: .5;
}
#menu-posts-staff-member:hover .wp-menu-image, #menu-posts-staff-member.wp-has-current-submenu .wp-menu-image {
    b--ackground-position: 6px -26px !important;
    opacity: 1;
}

#menu-posts-staff-member.wp-has-current-submenu .wp-menu-image {
    background: url('../_images/staff-list-icon-lighter.png') no-repeat 5px 5px !important;
    background: url('../_images/staff-list-icon-lighter.svg') no-repeat 5px 5px !important;
    background-size: 70% !important;
}
/* Post Screen - 32px */
.icon32-posts-staff-member {
	background: url('../_images/staff-list-icon.png') no-repeat left top !important;
    background: url('../_images/staff-list-icon.svg') no-repeat left top !important;
    background-size: 100% !important;
    height: 32px;
    width: 32px;
}