#poststuff .stng_admin_wrap h2 {
	margin:10px 0 0;
}

.sslp_admin_wrap input[type="text"] {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	width: 30%;
}

#wp-_staff_member_bio-wrap .wp-editor-area {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}

#staff-member-info label {
	position: relative;
	display: block;
	padding-top: 0.5em;
	margin-bottom: 1.5em;
}

#staff-member-info label input {
	position: absolute;
	left: 110px;
	top: -0em;
}

.edit-page-staff-member #post-body-content {
	margin-bottom: 0; /* Tightens up spacing between title bar and our custom meta boxes */
}

.wrap.sslp-usage {
	width:50%;
}

.wrap.sslp-template p {
	width:60%;
}

.sslp-usage table {
	width: 140%;
}

.sslp-usage table td {
	padding:.75em 0;
	vertical-align: top;
}

p.sslp-note {
	font-size: .8em;
	font-style: italic;
	color: red;
}

ul.sslp-tag-list {
	margin-left: 3em;
}

ul.sslp-tag-list li {
	display:inline;
	padding: .25em 1em;
	font-weight: bold;
}

td.column-order img {
	display: block;
	padding: 24px 42px;
	cursor: hand;
}

.sslp-template h4.heading {
	margin-bottom: 0;
}

.sslp-template .content {
	width: 60%;
	display: none;
}

.sslp-template pre {
	background: #eee;
	padding: 1%;
	border-radius: 3px;
	border: thin solid #ccc;
	overflow: auto;
}

.sslp-template .default-css .content pre{
	height: 250px;
	overflow: scroll;
}


/*
	CPT Icon Styles
*/

/* Admin Menu - 16px */
#menu-posts-staff-member .wp-menu-image {
	background: url('../_images/staff-list-icon.png') no-repeat 5px 5px !important;
    background: url('../_images/staff-list-icon.svg') no-repeat 5px 5px !important;
    background-size: 70% !important;
    opacity: .5;
}
#menu-posts-staff-member:hover .wp-menu-image, #menu-posts-staff-member.wp-has-current-submenu .wp-menu-image {
    b--ackground-position: 6px -26px !important;
    opacity: 1;
}

#menu-posts-staff-member.wp-has-current-submenu .wp-menu-image {
    background: url('../_images/staff-list-icon-lighter.png') no-repeat 5px 5px !important;
    background: url('../_images/staff-list-icon-lighter.svg') no-repeat 5px 5px !important;
    background-size: 70% !important;
}
/* Post Screen - 32px */
.icon32-posts-staff-member {
	background: url('../_images/staff-list-icon.png') no-repeat left top !important;
    background: url('../_images/staff-list-icon.svg') no-repeat left top !important;
    background-size: 100% !important;
    height: 32px;
    width: 32px;
}