.wp-block-simple-staff-list-single-staff-member.layout-1, .wp-block-simple-staff-list-single-staff-member.layout-2 {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px; }

@media screen and (min-width: 600px) {
  .wp-block-simple-staff-list-single-staff-member.layout-1 {
    -ms-grid-columns: 35%;
        grid-template-columns: 35%; }
    .wp-block-simple-staff-list-single-staff-member.layout-1 img {
      -ms-grid-column: 1;
          grid-column-start: 1; }
    .wp-block-simple-staff-list-single-staff-member.layout-1 .staff-member-content {
      -ms-grid-column: 2;
          grid-column-start: 2; }
  .wp-block-simple-staff-list-single-staff-member.layout-2 {
    -ms-grid-columns: auto 35%;
        grid-template-columns: auto 35%; }
    .wp-block-simple-staff-list-single-staff-member.layout-2 img {
      -ms-grid-column: 2;
          grid-column-start: 2; }
    .wp-block-simple-staff-list-single-staff-member.layout-2 .staff-member-content {
      -ms-grid-column: 1;
          grid-column-start: 1;
      -ms-grid-row: 1;
          grid-row-start: 1; } }

.wp-block-simple-staff-list-single-staff-member.layout-1 .contact-link, .wp-block-simple-staff-list-single-staff-member.layout-2 .contact-link, .wp-block-simple-staff-list-single-staff-member.layout-3 .contact-link {
  display: block; }

.wp-block-simple-staff-list-single-staff-member.layout-1 .social-icon:not(:last-child), .wp-block-simple-staff-list-single-staff-member.layout-2 .social-icon:not(:last-child), .wp-block-simple-staff-list-single-staff-member.layout-3 .social-icon:not(:last-child) {
  margin-right: .5em; }

.wp-block-simple-staff-list-single-staff-member.layout-1 .staff-member-photo, .wp-block-simple-staff-list-single-staff-member.layout-2 .staff-member-photo, .wp-block-simple-staff-list-single-staff-member.layout-3 .staff-member-photo {
  float: none; }
